<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Status</th>
      <th>City</th>
      <th>Employee id</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employee of employees">
      <td>{{ employee.id }}</td>
      <td>{{ employee.name }}</td>
      <td>{{ employee.status }}</td>
      <td>{{ employee.city }}</td>
      <td>{{ employee.employeeId }}</td>
    </tr>
  </tbody>
</table>